<div class="row">
  <div class="col-md-6" style="margin: auto; margin-top: 150px;">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">New Post</div>
        <div class="separator-breadcrumb border-top"></div>

        <div class="row">

          <div class="col-md-12 form-group mb-3">
            <label for="postTitle"> Post Title</label>
            <input type="text" class="form-control" id="postTitle" placeholder="Enter post title" #postTitle>
          </div>
          
          <div class="col-md-12">
            <label for="picture">Picture</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="photo" accept="image/*" aria-describedby="photo"
                  (change)="onFileSelected($event)" #picture>
                <label class="custom-file-label"
                  for="photo"> {{ selectedFile }} </label>
              </div>
            </div>          
          </div>
          
          <div class="col-md-12 form-group mb-3">
            <label for="Description">Description</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <textarea class="form-control" id="description" aria-label="Description" #description></textarea>
            </div>
          </div>
          
          <div class="col-md-12">
            <button type="button" class="btn btn-success btn-lg btn-rounded m-1" style="float: right;" (click)="cancelPost()">
              <i class="i-Left"></i>&nbsp; Cancel</button>
            <button type="button" class="btn btn-primary btn-lg btn-rounded m-1" style="float: right;" (click)="savePost()">
              <i class="i-Data-Save"></i>&nbsp; Save</button>            
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>