i {
    font-size: 32px;
    height: 32px;
    width: 32px;
    float: right;
    cursor: pointer;
}

.row {
    padding-bottom: 20px;
}

.card {
    background: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.ngx-datatable.material {
    background: #FFF;
    box-shadow: 0 5px 5px -3px rgba(245, 243, 243, 0), 0 8px 10px 1px rgba(248, 244, 244, 0.14), 0 3px 14px 2px rgba(247, 244, 244, 0.12);
}

.content-right {
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    float: right;
}

.content-left {
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    float: left;
}

/////////////////////////@at-root
.row {
    flex: 0 0 66.66666667%;
    margin: auto;
    
}

.row a:hover {
    color: #0fe668;
    cursor: pointer;
}

h2 {
    margin: 12px;
}

h2:hover {
    color: red;
}

.image-size {
    width: 100%;
    height: 400px;
    cursor: pointer;
}

.businessAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.comment-form {
    border: initial;
    outline: initial !important;
    background: #f8f9fa;
    color: #474d6d;
    border-radius: 20px;
    height: calc(1.9695rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.813rem;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.make-me-sticky {
	position: sticky;
}


.card-header {
    text-align: center;
    cursor: pointer;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}

.content-right {
    background-color: rgb(247, 247, 248);
	top: 0;
	left: 0;
	height: 100%;
    border-radius: 0.25rem;
}

.content-left {
    background-color: rgb(247, 247, 248);
	top: 0;
	left: 0;
    height: 100%;
    border-radius: 0.25rem;
}

.online-size {
    overflow-y: scroll;
    height: 200px;
}
.event-text {
    border: initial; 
    outline: initial !important; 
    background: #f8f9fa; 
    color: #474d6d; 
    border-radius: 20px;        
    height: calc(1.9695rem + 2px); 
    padding: 0.375rem 0.75rem; 
    font-size: 0.813rem; 
    line-height: 1.5; 
    background-clip: padding-box;
}

.hover-event {
    margin-top: 10px;
    cursor: pointer;
}
.hover-event:hover {
    background-color: white;
    border-radius: 5px;
}
.active{
    border: 1px solid #ced4da; 
    border-radius: 5px;
    background-color: white;
}

.item-position {
    width: 36px; 
    height: 36px; 
    display: flex; 
    align-items: center;
}

.font-position {
    display: flex; 
    align-items: center;
}

.i-size {
    font-size: 25px;
}

.col-md-4 a::after {
    position: absolute;
    top: -1px;
    right: 0;
    content: "";
    height: 16px;
    width: 1px;
    background: #70657b;
    border-radius: 5px;
}

.ngx-datatable {
    margin-top: 30px;
}

.datatable-header-cell
{
   display: flex !important;
   align-items: center !important;
}

.inline-div {
    justify-content: space-around; 
    display: flex;
}

// Create Post
.div-create-post {
    padding: 7px;
    box-shadow: 1px 3px 3px 3px lightgray; 
}

.disabled {
    pointer-events: none;
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

.m-4 {
    margin: 0px !important;
}

.like-img {
    opacity: 1;
    z-index: 999;
    background: #f8f8f8;
    border-radius: 20px;
    text-align: center;
    height: 51px;
    margin: -50px 0;
    display: none;
}

.like-img img {
    width: 50px;
    height: 50px;
}

.like-img img:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.logo_business {
    width: 30px;
    height: 30px;
    margin: -15px auto;
}